html, body {
     height: 100%;
     margin: 0;
     font-family: sans-serif;
     max-width: 900px;
     text-align: center;
   }

h1 {
  background-image: url("images/lithium.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

p {
  background-color: lightgrey;
  color: black;
  border-style:solid;
  padding: 10px;
  font-size: 20;
}

figure {
  margin: auto;
  max-width: 900px;
  position: relative;
  text-align: center;
}


#map {
   width: 600px;
   height: 400px;
   margin: auto;
 }

 #map2 {
    width: 600px;
    height: 400px;
    margin: auto;
  }

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

canvas {
  margin-bottom: 20px;
}
